:root {
    --basic-black: #000000;
    --basic-white: #ffffff;
    --basic-gray:#333333;
    --basic-dim-gray:#666666;
    --basic-dirty-gray:#EEEEEE;
    --basic-dirty-white:#EBEBEB;
    --basic-deep-gray:#BDBBBC;
    --basic-light-gray:#888888;
    --basic-light-blue:#81B3D2;
    --basic-middle-blue:#669EC0;
    --basic-deep-blue:#5496BD;
    --basic-light-brown:#766357;
    --basic-middle-brown:#604E43;
    --basic-dark-brown:#503E33;
    --basic-special:#F2F2F2;
    --light-black:#E5E5E5;
    --special-ivory:#CACACA;
}
@font-face {
    font-family: "PTSans";
    src: local("PTSans"),
    url("PTSans.woff2") format("woff2"),
    url("PTSans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
    font-family: "PTSans-Bold";
    src: local("PTSans-Bold"),
       url("PTSans-Bold.woff2") format("woff2"),
       url("PTSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    font-family: "PTSans", Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: var(--basic-black);
    text-transform: uppercase;
    background-color: var(--basic-dirty-white);
    
}


a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.page-body {
  min-height: 100%;
  display: grid;
  align-content: start;
} 

.page {
  height: 100%;
}

.main-header-logo {
  justify-self: center;

}

.main-header {
  margin-left: 73px;
  margin-bottom: 22px;

}

.main-navigation {
  display: grid;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: var(--basic-black);
  background-color: transparent;
}

.site-navigation {
  list-style: none;

}

.site-navigation-current a:not([href]) {
  background-color: var(--basic-white);
  color: var(--basic-light-brown);
}


.site-navigation a {
  color: var(--basic-black);
}

.site-navigation a:hover {

  background-color: var(--basic-white);
  color: var(--basic-light-blue);
}

.site-navigation a:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.container {
  width: 1200px;
  margin-left: 40px;
  margin-right: 40px;
  padding: 0 5px;
}

.background-view {
  position:relative;
  background: url(../img/background-photo.png) no-repeat;
  width: 100%;

}


.background-view::after {
  display: block;
  content: '';
  background: url('../img/Shape.svg');
  width: 100%;
  height: 56px;

}

.text-title {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
}

.reasons {
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
}



.arguments-list  {

  list-style: none;
}

.element-1 {
  background-color: var(--basic-light-blue);
  color: var(--basic-white);
}

.element-2 {
  background-color: var(--basic-light-blue);
  color: var(--basic-white);
}





.argument-item h3 {
  font-size: 21px;
  line-height: 21px;
}



.features-list  {

  list-style: none;
  background-color: var(--basic-dirty-gray);
}




.feature-item h3 {
  font-size: 21px;
  line-height: 21px;
}


.button {
  font: inherit;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-light-blue);
  border: none;
}

.button:hover {
  background-color: var(--basic-middle-blue);
}

.button:active {
  background-color: var(--basic-deep-blue);
  cursor: default;
}

.contacts-phone {
  color: inherit;
}

.appointment-info {
  font-size: 14px;
  line-height: 24px;
}

.appointment-button {
  background-color: var(--basic-light-brown);
  color: var(--basic-white);
  font-weight: 700;
}

.appointment-button:hover {
  background-color: var(--basic-middle-brown);
}

.appointment-button:active {
  background-color: var(--basic-dark-brown);
}

.appointment-item {

  font-weight: 700;
  color: var(--basic-black);
}


.appointment-item input {
  font: inherit;
  color: var(--basic-black);
  background-color: var(--basic-special);
  font-weight: bold;
}

.appointment-item input:focus {
  background-color: var(--basic-white);
  color: var(--basic-black);
  border: 2px solid #E5E5E5;;
}

.appointment-item:hover {
  background-color: var(--basic-dirty-white);
  color: var(--basic-black);
}

.main-footer {
  font-weight: 700;
  color: var(--basic-black);
  background-position: 0 0;
  background-repeat: repeat;

}

.main-footer .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}



.footer-contacts a {
  color: var(--basic-black);
}

.footer-social {
  text-align: center;

}

.footer-social ul {
  list-style: none;
}

.social-button {
  color: inherit;
  background-color: var(--basic-light-blue);
}

.social-button:hover {
  background-color: var(--basic-middle-blue);
}

.social-button:active {
  background-color: var(--basic-deep-blue);
}

.footer-copyright {
  font-weight: 400;
  justify-self: end;
}

.copyright-logo {
  color: inherit;
  background-color: var(--basic-white);
}

path:hover {
  fill:var(--basic-light-blue);
}

path:active {
  fill:var(--basic-deep-gray);
}

/* Catalog */




.filter legend {
 
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: var(--basic-white);
}

.filter ul {
  list-style: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-white);
}

.filter-input-checkbox:hover + label,
.filter-input-checkbox:focus + label {
  color: var(--basic-white);
}

.found-title {
  font-size: 21px;
  line-height: 26px;
}

.found-list {
  font-size: 12px;
  line-height: 18px;
}



.option-list {
  list-style: none;
  font-size: 12px;
  line-height: 18px;
  
}

.option-items {
  color: var(--basic-black);
  opacity: 0.3;
  border-bottom: 1px dashed #81B3D2;
}

.option-items:hover {
  color: var(--basic-light-blue);
}
.option-items:active {
  color: var(--basic-black);
  border-bottom: none;
  opacity: var(--basic-black);
}

.option-items-current {
  color: var(--basic-light-blue);
  border-bottom: none;
}

.cursor-up {
  color: var(--special-ivory);
}
.cursor-up:hover {
  color:var(--basic-black);
}

.cursor-up:active {
  color: var(--basic-light-blue);
}

.cursor-down {
  color: var(--basic-light-blue);
}

.cursor-down:hover {
  color:var(--basic-black);
}

.cursor-down:active {
  color: var(--basic-light-blue);
}


.catalog-list {
  list-style: none;
}

.catalog-item h3 {
  list-style: none;
  font-weight:700;
  font-size: 21px;
  line-height: 26px;
}

.catalog-item h3:hover {
color: var(--basic-light-blue);
}

.catalog-item h3:active {
  opacity: 0.3;
}

.button-more {
  background-color: var(--basic-light-blue);
  color: var(--basic-white);
  border: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
}

.button-more:hover {
  background-color: var(--basic-middle-blue); 
}
.button-more:active {
  background-color: var(--basic-deep-blue);
  opacity: 0.3;
}

.button-reserved {
  background-color: var(--basic-light-brown);
  color: var(--basic-white);
  border: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
}

.button-reserved:hover {
  background-color: var(--basic-middle-brown);
}
.button-reserved:active {
  background-color: var(--basic-dark-brown);
  opacity: 0.3;
}

.rating {
  color: var(--basic-dim-gray);
  background-color: var(--basic-special);
  font-weight: 400;
  font-size: 14px;
  line-height: 21px; }